@media(min-width:320px) and (max-width:800px) {

    .Timer{
        margin:0;
        
    
     }
     .FairnessCream{
        margin-left: 0px;
        background-color: red;  
    }
    .navbarsm .logo{
        width: 50px;
    }

}

@media(min-width:1000px) and (max-width:1800px) {
    .VideoPromo{
        position: absolute;
        width: 50%;
        top: 0;
        right:0;
    }
}
@media(max-width:991px){
    .preFooter .col-lg-3 {
        border-right: none;
        border-bottom: 4px solid var(--background-color); 
    }
}
